// Body
$body-bg: #f8fafc;
$bg-theme: #f1f1f1;
$pagination-active-border-color: #6c757d;
$pagination-hover-border-color: #6c757d;
$pagination-active-bg:#6c757d;
$link-color:#6c757d;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
